/* Timeline chart */
#timeline {
  margin: 0 auto;
}

.plotly-tooltip {
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.plotly-tooltip-item {
  padding: 10px;
}

.plotly-tooltip-item:before {
  content: "\25CF";
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #666;
}